.vs/CatNote.API/FileContentIndex/111867bc-ecc5-4657-9ea3-d4b397b2b5f1.vsidx
.vs/CatNote.API/FileContentIndex/3cd7a9f0-dc50-493b-9968-73dc401c18bb.vsidx
.vs/CatNote.API/FileContentIndex/5c119eee-7aac-4fde-a215-22e07cd57c03.vsidx
.vs/CatNote.API/FileContentIndex/83a30871-3128-4115-a7a3-d3dad9d155ec.vsidx
.vs/CatNote.API/FileContentIndex/bd50f90d-a34d-472d-84ef-a8c50d9912d8.vsidx
.vs/CatNote.API/v17/TestStore/0/000.testlog
